[submodule "mkidreadout"]
	path = mkidreadout
	url = https://github.com/MazinLab/MKIDReadout
	branch = develop
[submodule "mkidcore"]
	path = mkidcore
	url = https://www.github.com/mazinlab/mkidcore.git
	branch = develop
[submodule "purepyindi2"]
	path = purepyindi2
	url = https://github.com/xwcl/purepyindi2.git
