{% extends 'base_bootstrap.html' %}
{% from 'bootstrap4/form.html' import render_form, render_field %}
{% from 'bootstrap4/nav.html' import render_nav_item %}


{% block content %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
    {{ moment.lang(g.locale) }}
    <script src="{{ url_for('static', filename='js/tempusdominus-bootstrap-4.min.js') }}"></script>

    <script>
        function update_base_page() {
            var source = new EventSource("/listener");
            source.addEventListener("message", function (e) {
                var newdata = JSON.parse(e.data);
                // console.log("Message: ", newdata);
                // TODO: Clean up and simplify
                update_div("50K_Temp", "status:temps:50k-stage:temp", newdata, true);
                update_div("3K_Temp", "status:temps:3k-stage:temp", newdata, true);
                update_div("1K_Temp", "status:temps:1k-stage:temp", newdata, true);
                update_div("Device_Temp", "status:temps:device-stage:temp", newdata, true);
                update_div("Meas_Current", "status:magnet:current", newdata, true);
                // update_div("Magnet_Status", "status:magnet:state", newdata);
                update_div("heatswitch", "status:device:heatswitch:position", newdata);
                update_div("HSMotorPos", "status:device:heatswitch:motor-position", newdata, true)
                update_div("LS336", "status:device:ls336:status", newdata);
                update_div("LS372", "status:device:ls372:status", newdata);
                update_div("LS625", "status:device:ls625:status", newdata);
                update_div("HSMotor", "status:device:heatswitch:status", newdata);
                update_div("conex_control_status", "status:device:conex:controller-state", newdata);
                update_div("conex_xpos", "status:device:conex:position-x", newdata);
                update_div("conex_ypos", "status:device:conex:position-y", newdata);
                update_div("magnet_control_status", 'status:magnet:state', newdata);
                update_div("pa", "tcs:pa", newdata)
                update_div("rotator", "tcs:rotoff", newdata)
                update_div("ra", "tcs:ra", newdata)
                update_div("dec", "tcs:dec", newdata)
                update_div("el", "tcs:el", newdata)
                update_div("az", "tcs:az", newdata)
                update_div("seq_i", "command:event:observing", newdata)
                update_div("seq_n", "command:event:observing", newdata)
                update_div("obs_state", "command:event:observing", newdata)
                update_service_div("LS336Service", "lakeshore336.service", newdata);
                update_service_div("LS372Service", "lakeshore372.service", newdata);
                update_service_div("LS625Service", "lakeshore625.service", newdata);
                update_service_div("HSMotorService", "heatswitch.service", newdata);
                update_service_div("MagnetService", "magnet.service", newdata);
                update_service_div("RedisService", "redis-server.service", newdata);
                update_service_div("RedisCommanderService", "redis-commander.service", newdata);
                update_service_div("FlaskService", "controlflask.service", newdata);
            }, false);
            source.addEventListener("open", function (e) {
                console.log('Connection was opened: ', e);
            }, false);
            source.addEventListener("error", function (e) {
                console.log("Connection errored out: ", e);
            }, false);
        };
        update_base_page()

        function update_div(div, key, sentdata, ts=false) {
            var data = sentdata[key];
            // console.log(key, div)
            if (ts) {
                var time = data[2];
                if (key == 'status:device:heatswitch:motor:position') {
                    var value = Number(data[1]).toFixed(0);
                } else {
                    var value = Number(data[1]).toFixed(3);
                }
            } else {
                if (key == "status:device:conex:controller-state") {
                    var data = JSON.parse(data);
                    var value = data[1];
                } else if (key == "command:event:observing") {
                    var data = JSON.parse(data);
                    if (div == "seq_i") {
                        var value = data[div] + 1
                    } else if (div == "seq_n") {
                        var value = data[div]
                    } else if (div == "obs_state") {
                        var value = data["state"]
                    } else {
                        console.log(" ")
                    }
                } else {
                    var value = data;
                }
            }
            $("#"+div).text(value)
        }

        function update_service_div(div, service, sentdata) {
            var data = sentdata[service];
            $("#"+div).text(data)
        }

        function update_plot(div, key, sentdata, trace=0) {
            var data = sentdata[key];
            var time = data[2];
            var value = data[1];
            // TODO: Plotly.react
            Plotly.extendTraces(div, {x:[[time]], y:[[value]]}, [trace])
        }

        function realtime_validate(id) {
            $("#"+id).keyup(function () {
                var text = $(this).val();
                $.ajax({
                    type:'POST',
                    url:'/validatecmd',
                    data:{
                        id:id,
                        data:text
                    },
                    success:function(d){
                        $("#"+id+"_success").text(d['legal'][1]);
                        if (d['legal'][0] == false) {
                            document.getElementById(id).style.color = 'red'
                        } else {
                            document.getElementById(id).style.color = 'blue'
                        }
                        console.log(d);
                    }
                })
            })
        }

        function update_multiple_divs(id_and_redis_names, data) {
            var i;
            var keys = id_and_redis_names;
            for (i=0; i < keys.length; i++) {
                update_div(keys[i][0]+"_currentval", keys[i][1], data);
            }
        }
    </script>
{% endblock%}
