{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-10 py-2 mb-3">
                <div class="row">
                    <h5>
                        After clicking new night, to reload the yamls that were created in the new directory, you must
                        restart the ObservingAgent and ConexAgent by running
                    </h5>
                </div>
                <div class="row">
                    <h5>
                        <TT>sudo systemctl restart observingAgent.service conex.service</TT>
                    </h5>
                </div>
                <div class="row">
                    <h5>
                        This is only necessary if you made edits to the yaml file!
                    </h5>
                </div>
                <div class="row">
                    <h5>
                        If you made a new beammap you must also run <TT>sudo systemctl restart mkidDirector.service</TT>
                    </h5>
                </div>
                {{ render_form(cfgform, form_type='horizontal', horizontal_columns=('lg', 3, 9)) }}
            </main>
        </div>
    </div>
{% endblock %}