{% extends 'base.html' %}

{% block content %}
    {{ super() }}

    <div class="container-fluid">
        <div class="flex-row">
            <main role="main" class="col-12">
                <div class="d-flex justify-content-center align-content-center flex-wrap flex-md-nowrap py-2 mb-3 border-bottom">
                    <div class="flex-column col-4">
<!--                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-2 mb-3 border-bottom">-->
<!--                            <h1>Observing</h1>-->
<!--                        </div>-->
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 mb-2 border-bottom">
                            {% if sending_photons %}
                                <input type="button" class="btn btn-danger" id="obsStartStop" onclick='obsctrl()' value="Stop Observing">
                            {% else %}
                                <input type="button" class="btn btn-success" id="obsStartStop" onclick='obsctrl()' value="Start Observing">
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                                <h4>Target Info</h4>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                                <h4>Take Flat / Dark</h4>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                                <h4>Dither Control</h4>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                                <h4>Focus Control</h4>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                                <h4>Filter Control</h4>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                                <h4>Laser + Flipper Mirror</h4>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap mb-3">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                                {{ render_field(laserbox.power808) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                                {{ render_field(laserbox.power904) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                                {{ render_field(laserbox.power980) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                                {{ render_field(laserbox.power1120) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                                {{ render_field(laserbox.power1310) }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap mb-3 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2 py-1 mb-1">
                                {{ render_field(laserbox.flipperposition, onclick="flip_mirror()", class='btn btn-dark') }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2 py-1 mb-1">
                                {{ render_field(laserbox.update_all_lasers, onclick="update_lasers(this.id)") }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2 py-1 mb-1">
                                {{ render_field(laserbox.all_lasers_off, onclick="update_lasers(this.id)", class='btn btn-danger') }}
                            </div>
                        </div>
                    </div>

                    <div class="flex-column col-4 border-left">
                        <div class="flex-column flex-wrap flex-md-nowrap py-2 mb-3">
                            <div id="dash"></div>
                        </div>
                    </div>

                    <div class="flex-column col-4 border-left">
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-2 mb-3 border-bottom">
                            <h4>Fridge Control</h4>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(magnetform.start) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(magnetform.fast) }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(magnetform.abort) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(magnetform.cancel_scheduled) }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(magnetform.at) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(magnetform.schedule) }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap mt-2">
                            <h4>Heatswitch</h4>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap mb-3 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(hsform.open) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(hsform.close) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(hsform.stop) }}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="d-flex justify-content-center align-content-center flex-wrap flex-md-nowrap py-2 mb-3 border-bottom">
                    <div class="flex-column col-6">
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-2 mb-3">
                            <h4>Sensor Plots</h4>
                        </div>
                        <div class="flex-column flex-wrap flex-md-nowrap py-2 mb-3">
                            <div id="indexplot"></div>
                        </div>
                    </div>
                    <div class="flex-column col-6 border-left">
                        <div class="flex-column flex-wrap flex-md-nowrap py-2 mb-3">
                            <div id="pixel_lightcurve"></div>
                        </div>
                        <div id="stopper" class="column" style="float: left; margin-left: 50%; width: 20%">
                            <button onclick="delete_pixel_lightcurve_trace()">Stop</button>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>

    <script>
        var sensorfig = {{ sensor_fig | safe }};
        Plotly.react('indexplot', sensorfig)

        var arrayfig = {{ array_fig | safe }};
        Plotly.react('dash', arrayfig)

        var lightcurve_init = {{ pix_lightcurve | safe }};
        Plotly.react('pixel_lightcurve', lightcurve_init)

        var rediskeys = {{ sensorkeys | safe }};
        var pixel = [-1, -1];
        var array_update_time;

        var psource = new EventSource('{{ url_for("main.dashplot") }}');
        psource.addEventListener("dashplot", function (event) {
            var update = JSON.parse(event.data);
            var elem = document.getElementById(update['id']);
            var data = JSON.parse(update['data']);
            array_update_time = update['time'];
            if (elem) {
                switch (update['kind']) {
                    case "full":
                        Plotly.react(update['id'], data);
                        break;
                    case "partial":
                        Plotly.extendTraces(update['id'], {z: [data.data[0]['z']]});
                        break;
                }
            }
            if (pixel[0] != -1 && pixel[1] != -1) {
                Plotly.extendTraces('pixel_lightcurve', {x:[[update['time']]], y:[[data.data[0]['z'][pixel[1]][pixel[0]]]]}, [0])
            }
        }, false);
        psource.addEventListener("open", function (e) {console.log('Connection was opened: ', e);}, false);
        psource.addEventListener("error", function (e) {console.log("Connection errored out: ", e);}, false);

        function delete_pixel_lightcurve_trace(){
            pixel = [-1, -1]
            Plotly.deleteTraces('pixel_lightcurve', 0);
            Plotly.react('pixel_lightcurve', lightcurve_init)
        };

        var myPlot = document.getElementById('dash');
        myPlot.on('plotly_click', function(data){
            delete_pixel_lightcurve_trace()
            console.log("value at ("+data.points[0].x+", "+data.points[0].y+") is "+Number(data.points[0].z).toFixed(2)+" cts/s")
            pixel = [data.points[0].x, data.points[0].y]
            $.ajax({
                    type:'POST',
                    url:"{{ url_for('main.pixel_lightcurve') }}",
                    data: {
                        init: 0,
                        time: array_update_time,
                        cts: Number(data.points[0].z).toFixed(2),
                        pix_x: data.points[0].x,
                        pix_y: data.points[0].y
                    },
                    success:function(d){
                        Plotly.react('pixel_lightcurve', JSON.parse(d))
                    }
                })
        })

        var source = new EventSource("/listener");
        source.addEventListener("message", function (e) {
            var newdata = JSON.parse(e.data);

            for (let j=0; j<rediskeys.length; j++) {
                update_plot("indexplot", rediskeys[j], newdata, j);
            }
        }, false);
        source.addEventListener("open", function (e) {console.log('Connection was opened: ', e);}, false);
        source.addEventListener("error", function (e) {console.log("Connection errored out: ", e);}, false);


        // Helper functions for handling submits and clicked events
        function stop_photon_send(newclass, newtext){
            $.ajax({
                    type:'POST',
                    url: "{{ url_for('main.send_photons', startstop='stop' ) }}",
                    data: {},
                    success:function(){
                        document.getElementById("obsStartStop").setAttribute("class", newclass);
                        document.getElementById("obsStartStop").setAttribute("value", newtext);
                    }
                })
        }

        function start_photon_send(newclass, newtext){
            $.ajax({
                    type:'POST',
                    url: "{{ url_for('main.send_photons', startstop='start' ) }}",
                    data: {},
                    success:function(){
                        document.getElementById("obsStartStop").setAttribute("class", newclass);
                        document.getElementById("obsStartStop").setAttribute("value", newtext);
                    }
                })
        }

        function obsctrl(){
            if (document.getElementById("obsStartStop").getAttribute("value").includes("Start")) {
                var newClass = "btn btn-danger";
                var newText = "Stop Observing";
                start_photon_send(newClass, newText);
            } else {
                var newClass = "btn btn-success";
                var newText = "Start Observing";
                stop_photon_send(newClass, newText);
            }
        };

        function update_lasers(buttonid){
            var powers = {};
            var lasers = ["808", "904", "980", "1120", "1310"]
            for (let p = 0; p < 5; p++) {
                if (buttonid.includes("update_all")) {
                    powers[lasers[p]] = document.getElementById("power"+lasers[p]).value
                } else {
                    console.log('but')
                    powers[lasers[p]] = "0"
                }
            }
            $.ajax({
                type:'POST',
                url: "{{ url_for('main.update_laser_powers') }}",
                data: powers,
                success: function(d){
                    for (let p = 0; p < 5; p++) {
                        var response = JSON.parse(d);
                        console.log(response)
                        document.getElementById("power"+lasers[p]).value = response[Number(lasers[p])]
                    }
                }
            })
        }

        function flip_mirror(){
            document.getElementById("flipperposition")
            $.ajax({

            })
        }
    </script>

{% endblock %}