{% extends 'base.html' %}

{% block content %}
    {{ super() }}

    <div class="container-fluid">
        <div class="flex-row">
            <main role="main" class="col-12">
                <div class="d-flex justify-content-center align-content-center flex-wrap flex-md-nowrap py-2 mb-3 border-bottom">
                    <div class="flex-column col-4">
<!--                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-2 mb-3 border-bottom">-->
<!--                            <h1>Observing</h1>-->
<!--                        </div>-->
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap mb-2">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-3">
                                {{ render_field(obs.target, onkeypress="update_target()") }}
                            </div>
                            {% if sending_photons %}
                                {{ render_field(obs.obsStartStop, class="btn btn-danger", onclick="obsctrl()", value="Stop Observing") }}
                            {% else %}
                                {{ render_field(obs.obsStartStop, class="btn btn-primary", onclick="obsctrl()",  value="Start Observing") }}
                            {% endif %}

                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 mb-2 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-3 border-right">
                                {{ render_field( fw.filter, class='btn btn-dark' ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(obs.flat, class="btn btn-dark", disabled='disabled', onclick="do_nothing()" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(obs.dark, class="btn btn-dark", disabled='disabled', onclick="do_nothing()" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(obs.wavecal, class="btn btn-dark", disabled='disabled', onclick="do_nothing()" ) }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2">
                                <span class="dot" id="focus_success_dot"></span>
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2 border-right">
                                <h5>Focus</h5>
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2">
                                {{ render_field(focus.focus_position, onkeypress="move_focus(event, this.id)" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2">
                                {{ render_field(focus.home_focus, class='btn btn-primary', onclick="move_focus(event, this.id)" ) }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap border-bottom">
                                <h5>Laser + Flipper Mirror</h5>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(laserbox.power808, onkeypress="update_lasers(event, this.id)" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(laserbox.power904, onkeypress="update_lasers(event, this.id)" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(laserbox.power980, onkeypress="update_lasers(event, this.id)" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(laserbox.power1120, onkeypress="update_lasers(event, this.id)" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(laserbox.power1310, onkeypress="update_lasers(event, this.id)" ) }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap mb-3 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2 py-1 mb-1 border-right">
                                {{ render_field(laserbox.flipperposition, class='btn btn-dark') }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2 py-1 mb-1">
                                {{ render_field(laserbox.update_all_lasers, onclick="update_lasers(event, this.id)") }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2 py-1 mb-1">
                                {{ render_field(laserbox.all_lasers_off, onclick="update_lasers(event, this.id)", class='btn btn-danger') }}
                            </div>
                        </div>
                    </div>

                    <div class="flex-column col-4 border-left">
                        <div class="flex-column flex-wrap flex-md-nowrap py-2 mb-3">
                            <div id="dash"></div>
                        </div>
                    </div>

                    <div class="flex-column col-4 border-left">
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                                <h4>TCS</h4>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap mb-3 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 mb-1">
                                Target: None
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 mb-1">
                                Count Rate: 0.0
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 mb-1">
                                Exposure Time: 00:00
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 mb-1">
                                SNR Est: 0.0
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                                <h4>Dither Control</h4>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap border-bottom">
                            <h4>Fridge Control</h4>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(magnetform.start, class="btn btn-dark" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(magnetform.fast, class="btn btn-dark" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(magnetform.abort, class='btn btn-danger') }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(magnetform.at) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(magnetform.schedule, class="btn btn-dark") }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap mt-2">
                            <h4>Heatswitch</h4>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap mb-3 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(hsform.open, class="btn btn-dark") }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(hsform.close, class="btn btn-dark") }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(hsform.stop, class="btn btn-danger") }}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="d-flex justify-content-center align-content-center flex-wrap flex-md-nowrap py-2 mb-3 border-bottom">
                    <div class="flex-column col-6">
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-2 mb-3">
                            <h4>Sensor Plots</h4>
                        </div>
                        <div class="flex-column flex-wrap flex-md-nowrap py-2 mb-3">
                            <div id="indexplot"></div>
                        </div>
                    </div>
                    <div class="flex-column col-6 border-left">
                        <div class="flex-column flex-wrap flex-md-nowrap py-2 mb-3">
                            <div id="pixel_lightcurve"></div>
                        </div>
                        <div id="stopper" class="column" style="float: left; margin-left: 50%; width: 20%">
                            <button onclick="delete_pixel_lightcurve_trace()">Stop</button>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>

    <script>
        var sensorfig = {{ sensor_fig | safe }};
        Plotly.react('indexplot', sensorfig)

        var arrayfig = {{ array_fig | safe }};
        Plotly.react('dash', arrayfig)

        var lightcurve_init = {{ pix_lightcurve | safe }};
        Plotly.react('pixel_lightcurve', lightcurve_init)

        var rediskeys = {{ sensorkeys | safe }};
        var pixel = [-1, -1];
        var array_update_time;

        var psource = new EventSource('{{ url_for("main.dashplot") }}');
        psource.addEventListener("dashplot", function (event) {
            var update = JSON.parse(event.data);
            var elem = document.getElementById(update['id']);
            var data = JSON.parse(update['data']);
            array_update_time = update['time'];
            if (elem) {
                switch (update['kind']) {
                    case "full":
                        Plotly.react(update['id'], data);
                        break;
                    case "partial":
                        Plotly.extendTraces(update['id'], {z: [data.data[0]['z']]});
                        break;
                }
            }
            if (pixel[0] != -1 && pixel[1] != -1) {
                Plotly.extendTraces('pixel_lightcurve', {x:[[update['time']]], y:[[data.data[0]['z'][pixel[1]][pixel[0]]]]}, [0])
            }
        }, false);
        psource.addEventListener("open", function (e) {console.log('Connection was opened: ', e);}, false);
        psource.addEventListener("error", function (e) {console.log("Connection errored out: ", e);}, false);

        function delete_pixel_lightcurve_trace(){
            pixel = [-1, -1]
            Plotly.deleteTraces('pixel_lightcurve', 0);
            Plotly.react('pixel_lightcurve', lightcurve_init)
        };

        var myPlot = document.getElementById('dash');
        myPlot.on('plotly_click', function(data){
            delete_pixel_lightcurve_trace()
            console.log("value at ("+data.points[0].x+", "+data.points[0].y+") is "+Number(data.points[0].z).toFixed(2)+" cts/s")
            pixel = [data.points[0].x, data.points[0].y]
            $.ajax({
                    type:'POST',
                    url:"{{ url_for('main.pixel_lightcurve') }}",
                    data: {
                        init: 0,
                        time: array_update_time,
                        cts: Number(data.points[0].z).toFixed(2),
                        pix_x: data.points[0].x,
                        pix_y: data.points[0].y
                    },
                    success:function(d){
                        Plotly.react('pixel_lightcurve', JSON.parse(d))
                    }
                })
        })

        var source = new EventSource("/listener");
        source.addEventListener("message", function (e) {
            var newdata = JSON.parse(e.data);

            for (let j=0; j<rediskeys.length; j++) {
                update_plot("indexplot", rediskeys[j], newdata, j);
            }
        }, false);
        source.addEventListener("open", function (e) {console.log('Connection was opened: ', e);}, false);
        source.addEventListener("error", function (e) {console.log("Connection errored out: ", e);}, false);


        // Helper functions for handling submitting data from clicked events
        function obsctrl(){
            if (document.getElementById("obsStartStop").getAttribute("value").includes("Start")) {
                var newClass = "btn btn-danger";
                var newText = "Stop Observing";
                var send_url = "{{ url_for('main.send_photons', startstop='start' ) }}";
            } else {
                var newClass = "btn btn-primary";
                var newText = "Start Observing";
                var send_url = "{{ url_for('main.send_photons', startstop='stop' ) }}";
            }
            $.ajax({
                    type:'POST',
                    url: send_url,
                    data: {},
                    success:function(){
                        document.getElementById("obsStartStop").setAttribute("class", newClass);
                        document.getElementById("obsStartStop").setAttribute("value", newText);
                    }
                })
        }

        function update_lasers(event, buttonid){
            if (event.key === "Enter"){
                var power = document.getElementById(buttonid).value;
                var wvl = buttonid.replace("power","");
            } else if (buttonid.includes("all_lasers")) {
                var power = [];
                var wvl = ["808", "904", "980", "1120", "1310"];
                for (let p = 0; p < 5; p++) {
                    if (buttonid.includes("update_all")) {
                        power.push(document.getElementById("power"+wvl[p]).value)
                    } else {
                        power.push("0")
                    }
                }
                wvl = JSON.stringify(wvl)
                power = JSON.stringify(power)
            }
            if ((event.key === "Enter") || (buttonid.includes("all_lasers"))) {
                $.ajax({
                    type:'POST',
                    url: "{{ url_for('main.update_laser_powers') }}",
                    data: {
                        wvl: wvl,
                        power: power
                    },
                    success: function(d){
                        var response = JSON.parse(d);
                        console.log(response)
                        if (event.key === "Emter") {
                            document.getElementById("power"+wvl).value = response[Number(power[wvl])]
                        } else if (buttonid.includes("update_all") || (buttonid.includes("all_lasers_off"))) {
                            wvl = JSON.parse(wvl)
                            power = JSON.parse(power)
                            for (let p = 0; p < 5; p++) {
                                document.getElementById("power"+wvl[p]).value = response[Number(wvl[p])]
                            }
                        }
                    }
                })
            }
        }

        $(function () {
            var mirrorpos_id = $('#flipperposition');
            mirrorpos_id.on('change', function () {
                var flippermoveto = mirrorpos_id.val();
                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('main.flip_mirror', position='') }}" + flippermoveto,
                    data: {}
                })
            });
        });

        $(function () {
            var filterpos_id = $('#filter');
            filterpos_id.on('change', function () {
                var filtermoveto = filterpos_id.val();
                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('main.change_filter', filter='' ) }}" + filtermoveto,
                    data: {}
                })
            });
        });
    </script>

{% endblock %}