{% extends 'base.html' %}

{% block content %}
    {{ super() }}

    <div class="container-fluid">
        <div class="flex-row">
            <main role="main" class="col-12">
                <div class="d-flex justify-content-center align-content-center flex-wrap flex-md-nowrap py-2 mb-3 border-bottom">
                    <div class="flex-column col-4">
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap mb-2">
                            {% if sending_photons %}
                                {{ render_field(obs.obsStartStop, class="btn btn-danger", onclick="obsctrl(this.id)", value="Stop Observing") }}
                            {% else %}
                                {{ render_field(obs.obsStartStop, class="btn btn-primary", onclick="obsctrl(this.id)",  value="Start Observing") }}
                            {% endif %}
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-3">
                                {{ render_field(obs.target) }}
<!--                                {{ render_field(obs.target, onkeypress="update_target()") }}-->
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 mb-2 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2 py-1 mb-1 border-top">
                                <span class="dot" id="filter_status_dot"></span>
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-3 border-right border-top">
                                {{ render_field( fw.filter, class='btn btn-dark' ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(obs.flat, class="btn btn-dark", onclick="obsctrl(this.id)" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(obs.dark, class="btn btn-dark", onclick="obsctrl(this.id)" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(obs.wavecal, class="btn btn-dark", onclick="obsctrl(this.id)" ) }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(obs.int_time, onkeypress="update_array_view_params(event, this.id)" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(obs.min_cts, onkeypress="update_array_view_params(event, this.id)" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(obs.max_cts, onkeypress="update_array_view_params(event, this.id)" ) }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2">
                                <span class="dot" id="focus_status_dot"></span>
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2 border-right">
                                <h5>Focus</h5>
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2">
                                {{ render_field(focus.focus_position, onkeypress="move_focus(event, this.id)" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2">
                                {{ render_field(focus.home_focus, class='btn btn-dark', onclick="move_focus(event, this.id)" ) }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2">
                                <span class="dot" id="laserbox_status_dot"></span>
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap border-bottom">
                                <h5>Laser + Flipper Mirror</h5>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(laserbox.power808, onkeypress="update_lasers(event, this.id)" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(laserbox.power904, onkeypress="update_lasers(event, this.id)" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(laserbox.power980, onkeypress="update_lasers(event, this.id)" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(laserbox.power1120, onkeypress="update_lasers(event, this.id)" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-1">
                                {{ render_field(laserbox.power1310, onkeypress="update_lasers(event, this.id)" ) }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap mb-3 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2 py-1 mb-1 border-top">
                                <span class="dot" id="flipper_status_dot"></span>
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2 py-1 mb-1 border-right border-top">
                                {{ render_field(laserbox.flipperposition, class='btn btn-dark') }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2 py-1 mb-1">
                                {{ render_field(laserbox.update_all_lasers, class='btn btn-dark', onclick="update_lasers(event, this.id)") }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2 py-1 mb-1">
                                {{ render_field(laserbox.all_lasers_off, onclick="update_lasers(event, this.id)", class='btn btn-danger') }}
                            </div>
                        </div>
                    </div>

                    <div class="flex-column col-4 border-left">
                        <div class="flex-column flex-wrap flex-md-nowrap py-2 mb-3">
                            <div id="dash"></div>
                        </div>
                    </div>

                    <div class="flex-column col-4 border-left">
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                                <h4>TCS</h4>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap mb-1 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 mb-1">
                                Airmass: 1.00
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 mb-1">
                                Rotator: Off
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 mb-1">
                                RA : 0.0"
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 mb-1">
                                Dec : 0.0"
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 mb-1">
                                Alt : 0.0
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 mb-1">
                                Az : 0.0
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 mb-1">
                                SR : 100%
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap px-2 w-25">
                                <h4>Dither</h4>
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap border px-2 w-75">
                                <div class="px-1 w-10"><span class="dot" id="conex_status_dot"></span></div>
                                <div class="px-1 w-10">Status: </div><div class="px-1 mw-80" id="conex_control_status"></div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2">
                                {{ render_field(conex.start_pos) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2">
                                {{ render_field(conex.stop_pos) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2">
                                {{ render_field(conex.dither_start, class = "btn btn-dark", onclick="command_conex(event, this.id)" ) }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2">
                                {{ render_field(conex.dwell_time) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2">
                                {{ render_field(conex.n_steps) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 border-top border-left">
                                {{ render_field(conex.conex_position, onkeypress="command_conex(event, this.id)") }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 border-top">
                                {{ render_field(conex.conex_stop, class ="btn btn-dark", onclick="command_conex(event, this.id)" ) }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1">
                                <h4>Fridge Control</h4>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(magnetform.start_cycle, class="btn btn-dark", onclick="command_magnet(this.id)" ) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(magnetform.abort_cycle, class='btn btn-danger', onclick="command_magnet(this.id)") }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(magnetform.schedule_at, value=cooldown_time) }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {% if cooldown_scheduled %}
                                    {{ render_field(magnetform.schedule_cycle, class="btn btn-danger", onclick="command_magnet(this.id)", value = "Cancel Scheduled" ) }}
                                {% else %}
                                    {{ render_field(magnetform.schedule_cycle, class="btn btn-dark", onclick="command_magnet(this.id)", value = "Schedule" ) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap mt-2">
                            <h4>Heatswitch</h4>
                        </div>
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap mb-3 border-bottom">
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(hsform.hs_open, class="btn btn-dark", onclick="command_hs(this.id)") }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(hsform.hs_close, class="btn btn-dark", onclick="command_hs(this.id)") }}
                            </div>
                            <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-1 px-2 mb-1">
                                {{ render_field(hsform.hs_stop, class="btn btn-danger", onclick="command_hs(this.id)") }}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="d-flex justify-content-center align-content-center flex-wrap flex-md-nowrap py-2 mb-3 border-bottom">
                    <div class="flex-column col-6">
                        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap py-2 mb-3">
                            <h4>Sensor Plots</h4>
                        </div>
                        <div class="flex-column flex-wrap flex-md-nowrap py-2 mb-3">
                            <div id="indexplot"></div>
                        </div>
                    </div>
                    <div class="flex-column col-6 border-left">
                        <div class="flex-column flex-wrap flex-md-nowrap py-2 mb-3">
                            <div id="pixel_lightcurve"></div>
                        </div>
                        <div id="stopper" class="column" style="float: left; margin-left: 50%; width: 20%">
                            <button onclick="delete_pixel_lightcurve_trace()">Stop</button>
                        </div>
                    </div>
                </div>

                <!-- Starting attempt to turn pixel lightcurve into a modal -->
<!--                <div class="modal fade" id="pixellightcurvemodal" tabindex="-1" role="dialog" aria-labelledby="pixellightcurvemodaltitle" aria-hidden="true">-->
<!--                    <div class="modal-dialog" role="document">-->
<!--                        <div class="modal-content">-->
<!--                            <div class="modal-header">-->
<!--                                <h5 class="modal-title" id="pixellightcurvemodaltitle">Pixel Light Curve</h5>-->
<!--                                <button type="button" class="close" onclick="delete_pixel_lightcurve_trace()" data-dismiss="modal" aria-label="Close">-->
<!--                                    <span aria-hidden="true">&times;</span>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <div class="modal-body">-->
<!--                                <div class="container-fluid">-->
<!--                                    <div class="row">-->
<!--                                        <div class="col-12 justify-content-center align-items-center">-->
<!--                                            <div class="flex-column flex-wrap flex-md-nowrap py-2 mb-3">-->
<!--                                                <div id="pixel_lightcurve"></div>-->
<!--                                            </div>-->
<!--                                            <div id="stopper" class="column" style="float: left; margin-left: 50%; width: 20%">-->
<!--                                                <button onclick="delete_pixel_lightcurve_trace()">Stop</button>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

            </main>
        </div>
    </div>

    <script>
        var sensorfig = {{ sensor_fig | safe }};
        Plotly.react('indexplot', sensorfig)

        var arrayfig = {{ array_fig | safe }};
        Plotly.react('dash', arrayfig)

        var lightcurve_init = {{ pix_lightcurve | safe }};
        Plotly.react('pixel_lightcurve', lightcurve_init)

        var rediskeys = {{ sensorkeys | safe }};
        var pixel = [-1, -1];
        var array_update_time;

        var psource = new EventSource('{{ url_for("main.dashplot") }}');
        psource.addEventListener("dashplot", function (event) {
            var update = JSON.parse(event.data);
            var elem = document.getElementById(update['id']);
            var data = JSON.parse(update['data']);
            array_update_time = update['time'];
            if (elem) {
                switch (update['kind']) {
                    case "full":
                        Plotly.react(update['id'], data);
                        break;
                    case "partial":
                        Plotly.restyle(update['id'], {z: [data.data[0]['z']]});
                        break;
                }
            }
            if (pixel[0] != -1 && pixel[1] != -1) {
                Plotly.extendTraces('pixel_lightcurve', {x:[[update['time']]], y:[[data.data[0]['z'][pixel[1]][pixel[0]]]]}, [0])
            }
        }, false);
        psource.addEventListener("open", function (e) {console.log('Connection was opened: ', e);}, false);
        psource.addEventListener("error", function (e) {console.log("Connection errored out: ", e);}, false);

        function delete_pixel_lightcurve_trace(){
            pixel = [-1, -1]
            Plotly.deleteTraces('pixel_lightcurve', 0);
            Plotly.react('pixel_lightcurve', {{ pix_lightcurve | safe }})
        };

        var myPlot = document.getElementById('dash');
        myPlot.on('plotly_click', function(data){
            delete_pixel_lightcurve_trace()
            console.log("value at ("+data.points[0].x+", "+data.points[0].y+") is "+Number(data.points[0].z).toFixed(2)+" cts/s")
            pixel = [data.points[0].x, data.points[0].y]
            $.ajax({
                    type:'POST',
                    url:"{{ url_for('main.pixel_lightcurve') }}",
                    data: {
                        init: 0,
                        time: array_update_time,
                        cts: Number(data.points[0].z).toFixed(2),
                        pix_x: data.points[0].x,
                        pix_y: data.points[0].y
                    },
                    success:function(d){
                        Plotly.react('pixel_lightcurve', JSON.parse(d))
                    }
                })
        })

        var source = new EventSource("/listener");
        source.addEventListener("message", function (e) {
            var newdata = JSON.parse(e.data);

            for (let j=0; j<rediskeys.length; j++) {
                update_plot("indexplot", rediskeys[j], newdata, j);
            }
        }, false);
        source.addEventListener("open", function (e) {console.log('Connection was opened: ', e);}, false);
        source.addEventListener("error", function (e) {console.log("Connection errored out: ", e);}, false);


        // Helper functions for handling submitting data from clicked events
        function obsctrl(buttonid){
            var obs_button = document.getElementById(buttonid)
            var to_disable = ["wavecal", "flat", "dark"]

            var target;
            if (to_disable.includes(buttonid)) {
                target = obs_button.value
            } else {
                target = document.getElementById("target").value
            }

            if (document.getElementById("obsStartStop").value.includes("Start")) {
                var newClass = "btn btn-danger";
                var newText = "Stop Observing";
                var send_url = "{{ url_for('main.send_photons', startstop='start', target='' ) }}"+target;
                document.getElementById("target").value = target
            } else {
                var newClass = "btn btn-primary";
                var newText = "Start Observing";
                var send_url = "{{ url_for('main.send_photons', startstop='stop', target='' ) }}"+target;
            }
            $.ajax({
                    type:'POST',
                    url: send_url,
                    data: {},
                    success:function(){
                        for (let i=0; i< to_disable.length; i++) {
                            if (document.getElementById("obsStartStop").value.includes("Start")){
                                document.getElementById(to_disable[i]).disabled = true
                            } else {
                                document.getElementById(to_disable[i]).disabled = false
                            }
                        }
                        document.getElementById("obsStartStop").setAttribute("class", newClass);
                        document.getElementById("obsStartStop").setAttribute("value", newText);
                    }
                })
        }

        function update_lasers(event, buttonid){
            if (event.key === "Enter"){
                var power = document.getElementById(buttonid).value;
                var wvl = buttonid.replace("power","");
            } else if (buttonid.includes("all_lasers")) {
                var power = [];
                var wvl = ["808", "904", "980", "1120", "1310"];
                for (let p = 0; p < 5; p++) {
                    if (buttonid.includes("update_all")) {
                        power.push(document.getElementById("power"+wvl[p]).value)
                    } else {
                        power.push("0")
                    }
                }
                wvl = JSON.stringify(wvl)
                power = JSON.stringify(power)
            }
            if ((event.key === "Enter") || (buttonid.includes("all_lasers"))) {
                $.ajax({
                    type:'POST',
                    url: "{{ url_for('main.update_laser_powers') }}",
                    data: {
                        wvl: wvl,
                        power: power
                    },
                    success: function(d){
                        var response = JSON.parse(d);
                        if (event.key === "Enter") {
                            document.getElementById("power"+wvl).value = response['powers'][Number(wvl)]
                        } else if (buttonid.includes("update_all") || (buttonid.includes("all_lasers_off"))) {
                            wvl = JSON.parse(wvl)
                            for (let p = 0; p < 5; p++) {
                                document.getElementById("power"+wvl[p]).value = response['powers'][Number(wvl[p])]
                            }
                        }
                        var status_dot = document.getElementById("laserbox_status_dot");
                        if ((response['success'] == 1) || (response['success'] == 5)) {
                            status_dot.style.backgroundColor = "green"
                        } else {
                            status_dot.style.backgroundColor = "red"
                        }
                        fade_color(status_dot, 5000)
                    }
                })
            }
        }

        function move_focus(event, buttonid){
            if (event.key === "Enter"){
                var position = document.getElementById(buttonid).value;
            } else if (buttonid.includes("home_focus")) {
                var position = "home"
            }
            if ((event.key === "Enter") || (buttonid.includes("home_focus"))) {
                $.ajax({
                    type:'POST',
                    url: "{{ url_for('main.move_focus', position='') }}"+position,
                    data: {},
                    success: function(d){
                        var response = JSON.parse(d);
                        var status_dot = document.getElementById("focus_status_dot");
                        if (response['success'] == 1) {
                            status_dot.style.backgroundColor = "green"
                        } else {
                            status_dot.style.backgroundColor = "red"
                        }
                        document.getElementById("focus_position").value = response['position']
                        fade_color(status_dot, 5000)
                    }
                })
            }
        }

        function command_conex(event, buttonid){

            if (event.key == "Enter") {
                var position = document.getElementById('conex_position').value;
                var send_data = {'cmd': 'move', 'position': position};
            } else if (buttonid == "dither_start") {
                var start = document.getElementById('start_pos').value;
                var stop = document.getElementById('stop_pos').value;
                var t = document.getElementById('dwell_time').value;
                var n = document.getElementById('n_steps').value;
                var send_data = {'cmd': 'dither', 'dither_info': JSON.stringify({'n': n, 't': t, 'start': start, 'stop': stop})};
            } else if (buttonid == "conex_stop") {
                var send_data = {'cmd': 'stop'};
            }
            $.ajax({
                    type:'POST',
                    url: "{{ url_for('main.command_conex') }}",
                    data: send_data,
                    success: function(d){
                        var response = JSON.parse(d);

                        var status_dot = document.getElementById("conex_status_dot");
                        if (response['success'] == 1) {
                            status_dot.style.backgroundColor = "green"
                        } else {
                            status_dot.style.backgroundColor = "red"
                        }
                        fade_color(status_dot, 5000)
                    }
            })
        }

        function command_hs(buttonid) {
            $.ajax({
                type: 'POST',
                url: "{{ url_for('main.command_heatswitch', to_position='' ) }}" + '/' + buttonid,
                data: {},
                success: function (d) {
                    var response = JSON.parse(d);

                    var status_dot = document.getElementById("conex_status_dot");
                    if (response['success'] == 1) {
                        status_dot.style.backgroundColor = "green"
                    } else {
                        status_dot.style.backgroundColor = "red"
                    }
                    fade_color(status_dot, 5000)
                }
            })
        }

        function command_magnet(buttonid){
            var at_value = document.getElementById('schedule_at').value;
            $.ajax({
                type:'POST',
                url: "{{ url_for('main.command_magnet', cmd='', at='') }}" + '/' + buttonid + '/' + at_value,
                data: {},
                success: function (d){
                    var data = JSON.parse(d)
                    console.log(data)
                    if (data['scheduled']) {
                        var newText = "Cancel Scheduled";
                        var newClass = "btn btn-danger";
                    } else {
                        var newText = "Schedule";
                        var newClass = "btn btn-dark";
                    }
                    document.getElementById("schedule_cycle").setAttribute("class", newClass);
                    document.getElementById("schedule_cycle").setAttribute("value", newText);
                }
            })

        }

        // Update the max/min count rates on the array viewer or the update rate
        function update_array_view_params(event, buttonid){
            if (event.key === "Enter"){
                var val = document.getElementById(buttonid).value;
                $.ajax({
                    type:'POST',
                    url: "{{ url_for('main.update_array_viewer_params', param='', value='' ) }}" + '/' + buttonid + '/' + val,
                    data: {},
                    success: function (d){
                        var new_val = JSON.parse(d)['value'];
                        document.getElementById(buttonid).value = new_val
                    }
                })
            }
        }

        // Handle the flipper mirror position changing
        $(function () {
            var flipperpos_id = $('#flipperposition');
            flipperpos_id.on('change', function () {
                var flippermoveto = flipperpos_id.val();
                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('main.flip_mirror', position='') }}" + flippermoveto,
                    data: {},
                    success: function(d){
                        var response = JSON.parse(d);
                        var status_dot = document.getElementById("flipper_status_dot");
                        if (response['success'] == 1) {
                            status_dot.style.backgroundColor = "green"
                        } else {
                            status_dot.style.backgroundColor = "red"
                        }
                        flipperpos_id[0].value = response['position']
                        fade_color(status_dot, 5000)
                    }
                })
            });
        });

        // Handle the filter wheel position changing
        $(function () {
            var filterpos_id = $('#filter');
            filterpos_id.on('change', function () {
                var filtermoveto = filterpos_id.val();
                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('main.change_filter', filter='' ) }}" + filtermoveto,
                    data: {},
                    success: function(d){
                        var response = JSON.parse(d);
                        var status_dot = document.getElementById("filter_status_dot");
                        if (response['success'] == 1) {
                            status_dot.style.backgroundColor = "green"
                        } else {
                            status_dot.style.backgroundColor = "red"
                        }
                        filterpos_id[0].value = response['filter']
                        fade_color(status_dot, 5000)
                    }
                })
            });
        });

        // Helper function to change color of a command status div back to grey
        function fade_color (div_id, timeout=3000) {
            setInterval(function() {
                div_id.style.backgroundColor = '#bbb'
            }, timeout)
        }
    </script>

{% endblock %}