{% extends 'base.html' %}

{% block content %}
    {{ super() }}

    <div class="container" style="float:left; margin-left: 10%; margin-right: 12%; padding: 0px">
        <div class="col-lg" style="border-style: solid; border-width: 1px">
            <h2>Lakeshore 336</h2>
            <div id="lakeshore336_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <h2>Lakeshore 372</h2>
            <div id="lakeshore372_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <h2>Lakeshore 625</h2>
            <div id="lakeshore625_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <h2>Heatswitch</h2>
            <div id="heatswitch_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <h2>Laser Box & Mirror Flipper</h2>
            <div id="laserflipper_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <h2>Conex</h2>
            <div id=conex_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <h2>Filter Wheel</h2>
            <div id="filterwheel_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <h2>Magnet</h2>
            <div id="magnet_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <h2>MKIDControl Director</h2>
            <div id="mkidcontrol_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
            <h2>Redis</h2>
            <div id="redis_log" style="margin-left:3%; height:200px;width:80%;border:1px solid #ccc; overflow:auto; overflow-x: scroll"></div>
        </div>
    </div>

    <script>
        function jstream(service) {
            var source = new EventSource("/journalctl_streamer/"+service);
            source.addEventListener("message", function (e) {
                // console.log("Message: ", e.data);
                var theDiv = document.getElementById(service+"_log");
                theDiv.innerHTML += "<div style='width: 250%'>"+e.data+"</div>";
                theDiv.scrollTop = theDiv.scrollHeight;
            }, false);
            source.addEventListener("open", function (e) {
                console.log('Connection was opened: ', e);
            }, false);
            source.addEventListener("error", function (e) {
                console.log("Connection errored out: ", e);
            }, false);
        };
        jstream("lakeshore336");
        jstream("lakeshore372");
        jstream("lakeshore625");
        jstream("heatswitch");
        jstream("laserflipper");
        jstream("conex");
        jstream("filterwheel");
        jstream("magnet");
        jstream("mkidcontrol");
        jstream("redis");
    </script>


{% endblock %}