{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <div class="container-fluid">
        <div class="flex-row">
            <main role="main" class="col-10">
                <div class="d-flex justify-content-center align-content-center flex-wrap flex-md-nowrap py-2 mb-3 border-bottom">
                    <div class="flex-column col-6 border-right">
                        <div id="device_t" class="responsive-plot"></div>
                    </div>
                    <div class="flex-column col-6">
                        <div id="device_r" class="responsive-plot"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-content-center flex-wrap flex-md-nowrap py-2 mb-3 border-bottom">
                    <div class="flex-column col-6 border-right">
                        <div id="onek_t" class="responsive-plot"></div>
                    </div>
                    <div class="flex-column col-6">
                        <div id="onek_r" class="responsive-plot"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-content-center flex-wrap flex-md-nowrap py-2 mb-3 border-bottom">
                    <div class="flex-column col-6 border-right">
                        <div id="threek_t" class="responsive-plot"></div>
                    </div>
                    <div class="flex-column col-6">
                        <div id="threek_v" class="responsive-plot"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-content-center flex-wrap flex-md-nowrap py-2 mb-3 border-bottom">
                    <div class="flex-column col-6 border-right">
                        <div id="fiftyk_t" class="responsive-plot"></div>
                    </div>
                    <div class="flex-column col-6">
                        <div id="fiftyk_v" class="responsive-plot"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-content-center flex-wrap flex-md-nowrap py-2 mb-3 border-bottom">
                    <div class="flex-column col-6 border-right">
                        <div id="magnet_i" class="responsive-plot"></div>
                    </div>
                    <div class="flex-column col-6">
                        <div id="magnet_f" class="responsive-plot"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-content-center flex-wrap flex-md-nowrap py-2 mb-3 border-bottom">
                    <div class="flex-column col-6 border-right">
                        <div id="ls625_ov" class="responsive-plot"></div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <script>
        var plots = {{ plots | safe }};
        var ids = {{ ids | safe }};
        var rediskeys = {{ sensorkeys | safe }};

        for (let i = 0; i < ids.length; i++) {
            console.log(i, ids[i]);
            Plotly.react(ids[i], JSON.parse(plots[i]))
        }

        var source = new EventSource("/listener");
        source.addEventListener("message", function (e) {
            var newdata = JSON.parse(e.data);

            for (let j=0; j<rediskeys.length; j++) {
                update_plot(ids[j], rediskeys[j], newdata);
            }
        }, false);
        source.addEventListener("open", function (e) {console.log('Connection was opened: ', e);}, false);
        source.addEventListener("error", function (e) {console.log("Connection errored out: ", e);}, false);

    </script>

{% endblock %}