{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <div class="container" style="float:left; margin-left: 10%; max-width: 78%; padding: 0px">
        <div class="column" style="float:left; width: 33%">
            <div class="row" id="device_temp"></div>
            <div class="row" id="fiftyk"></div>
        </div>

        <div class="column" style="float: left; width: 33%">
            <div class="row" id="onek"></div>
<!--            <div class="row" id="magnet_current"></div>-->
        </div>
        <div class="column" style="float: left; width: 33%">
            <div class="row" id="threek"></div>
        </div>
    </div>

    <script>
        Plotly.newPlot('device_temp', {{ devt_d | safe }}, {{ devt_l | safe }}, {{ devt_c | safe}})
        Plotly.newPlot('onek', {{ onek_d | safe }}, {{ onek_l | safe }}, {{ onek_c | safe}})
        Plotly.newPlot('threek', {{ threek_d | safe }}, {{ threek_l | safe }}, {{ threek_c | safe}})
        Plotly.newPlot('fiftyk', {{ fiftyk_d | safe }}, {{ fiftyk_l | safe }}, {{ fiftyk_c | safe}})
        // Plotly.newPlot('magnet_current', {{ magc_d | safe }}, {{ magc_l | safe }}, {{ magc_c | safe}})
    </script>

    <script>
        function ud_plots() {
            var source = new EventSource("/listener");
            source.addEventListener("message", function (e) {
                var newdata = JSON.parse(e.data);
                // console.log("Message: ", newdata);
                update_plot("device_temp", "status:temps:device-stage:temp", newdata);
                update_plot("onek", "status:temps:1k-stage:temp", newdata);
                update_plot("threek", "status:temps:4k-stage:temp", newdata);
                update_plot("fiftyk", "status:temps:77k-stage:temp", newdata);
                // update_plot("magnet_current", "status:magnet:current", newdata);
            }, false);
            source.addEventListener("open", function (e) {
                console.log('Connection was opened: ', e);
            }, false);
            source.addEventListener("error", function (e) {
                console.log("Connection errored out: ", e);
            }, false);
        }
        ud_plots()
    </script>

{% endblock %}