{% extends 'base.html' %}


{% block content %}
    {{ super() }}
    <div class="container-fluid">
        <div class="row border-bottom border-top border-left border-right">
            <main role="main" class="col-12 py-2 mb-3">
                <form method="post">
                    <div class="row" id="laser808">
                        <div class="col-1"> {{ form.enabled808 }} 808 nm </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3"> {{ form.power808.label }} </div>
                                <div class="col-6"> {{ form.power808 }} </div>
                            </div>
                        </div>
                        <div class="col-2"> {{ form.update808 }} </div>
<!--                        <div class="col-3"> <input type="checkbox" data-toggle="switchbutton" checked data-onlabel="On" data-offlabel="Off"> </div>-->
                    </div>

                    <div class="row" id="laser904">
                        <div class="col-1"> {{ form.enabled904 }} 904 nm </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3"> {{ form.power904.label }} </div>
                                <div class="col-6"> {{ form.power904 }} </div>
                            </div>
                        </div>
                        <div class="col-2"> {{ form.update904 }} </div>
<!--                        <div class="col-3"> <input type="checkbox" data-toggle="switchbutton" checked data-onlabel="On" data-offlabel="Off"> </div>-->
                    </div>

                    <div class="row" id="laser980">
                        <div class="col-1"> {{ form.enabled980 }} 980 nm </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3"> {{ form.power980.label }} </div>
                                <div class="col-6"> {{ form.power980 }} </div>
                            </div>
                        </div>
                        <div class="col-2"> {{ form.update980 }} </div>
<!--                        <div class="col-3"> <input type="checkbox" data-toggle="switchbutton" checked data-onlabel="On" data-offlabel="Off"> </div>-->
                    </div>

                    <div class="row" id="laser1120">
                        <div class="col-1"> {{ form.enabled1120 }} 1120 nm </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3"> {{ form.power1120.label }} </div>
                                <div class="col-6"> {{ form.power1120 }} </div>
                            </div>
                        </div>
                        <div class="col-2"> {{ form.update1120 }} </div>
<!--                        <div class="col-3"> <input type="checkbox" data-toggle="switchbutton" checked data-onlabel="On" data-offlabel="Off"> </div>-->
                    </div>

                    <div class="row" id="laser1310">
                        <div class="col-1"> {{ form.enabled1310 }} 1310 nm </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3"> {{ form.power1310.label }} </div>
                                <div class="col-6"> {{ form.power1310 }} </div>
                            </div>
                        </div>
                        <div class="col-2"> {{ form.update1310 }} </div>
<!--                        <div class="col-3"> <input type="checkbox" data-toggle="switchbutton" checked data-onlabel="On" data-offlabel="Off"> </div>-->
                    </div>

                    <div class="row" id="updateall">
                        <div class="col-1"> {{ form.update_all }} </div>
                        <div class="col-1"> {{ form.all_off }} </div>
                        <div class="col-1"> {{ form.enable_all }} </div>
                        <div class="col-1"> {{ form.disable_all }} </div>
                    </div>
                </form>
            </main>
        </div>
    </div>

{% endblock %}