[Unit]
Description=MKIDControl Currentduino Agent

[Install]
WantedBy=mkidcontrol.service
WantedBy=quenchmon.service
WantedBy=sim960.service

[Service]
Type=simple
ExecStart=/home/mazinlab/anaconda3/envs/control/bin/currentduinoAgent.py
WorkingDirectory=/home/mazinlab/mkidcontrol
User=mazinlab
RestartSec=100ms
Restart=always