[Unit]
Description=MKIDControl Focus Agent

[Install]
WantedBy=mkidcontrol.service

[Service]
Type=simple
ExecStart=/home/kids/anaconda3/envs/control/bin/focusAgent.py
#WorkingDirectory=/home/kids/mkidcontrol/agents/
User=kids
RestartSec=100ms
Restart=always