[Unit]
Description=MKIDControl HEMT Agent

[Install]
WantedBy=mkidcontrol.service

[Service]
Type=simple
ExecStart=/home/kids/anaconda3/envs/control/bin/hemttempAgent.py
WorkingDirectory=/home/kids/mkidcontrol
User=kids
RestartSec=100ms
Restart=always