[Unit]
Description=MKIDControl HEMT Agent

[Install]
WantedBy=mkidcontrol.service

[Service]
Type=simple
ExecStart=/home/mazinlab/anaconda3/envs/control/bin/hemttempAgent.py
WorkingDirectory=/home/mazinlab/mkidcontrol
User=mazinlab
RestartSec=100ms
Restart=always