[Unit]
Description=MKIDControl LakeShore240 Agent

[Install]
WantedBy=mkidcontrol.service

[Service]
Type=simple
ExecStart=/home/kids/anaconda3/envs/control/bin/lakeshore240Agent.py
WorkingDirectory=/home/kids/mkidcontrol
User=kids
RestartSec=100ms
Restart=always