[Unit]
Description=MKIDControl Lake Shore 336 Agent

[Install]
WantedBy=mkidcontrol.service

[Service]
Type=simple
ExecStart=/home/kids/anaconda3/envs/control/bin/lakeshore336Agent.py
#WorkingDirectory=/home/kids/mkidcontrol/agents/
User=kids
RestartSec=100ms
Restart=always