[Unit]
Description=MKIDControl Lake Shore 372 Agent

[Install]
WantedBy=mkidcontrol.service
WantedBy=lakeshore625.service

[Service]
Type=simple
ExecStart=/home/kids/anaconda3/envs/control/bin/lakeshore372Agent.py
WorkingDirectory=/home/kids/mkidcontrol
User=kids
RestartSec=100ms
Restart=always