[Unit]
Description=MKIDControl SIM921 Agent

[Install]
WantedBy=mkidcontrol.service
WantedBy=sim960.service

[Service]
Type=simple
ExecStart=/home/mazinlab/anaconda3/envs/control/bin/sim921Agent.py
WorkingDirectory=/home/mazinlab/mkidcontrol
User=mazinlab
RestartSec=100ms
Restart=always